@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Enter some text to be reversed:</h1>
    <form>
        <input type="text" name="forward-text">
        <input type="submit" value="Submit">
    </form>
</div>
