@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Enter some text to be reversed:</h1>
    <form method="POST">
        <input type="text" id="forwardText" placeholder="Text to be reversed..." name="forwardText">
        <input type="submit" value="Flip It">
    </form>
    <h2>
        @ViewBag.ReversedText
    </h2>
</div>
